
#headerspace {
	text-align: center;	
	margin:10px;
	margin-bottom:30px;
	font-family:arial;
	letter-spacing: .6em;

}
.home-container{
	margin-top: 10%;
	height:100%;
	background-image: url('/static/img/desk.jpg');
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}
.entry{
	margin: 5% 20% 5% 20%;
	font-family: "Licida Sans Unicode", sans-serif;
	text-align: center;
	letter-spacing: .1em;
}
.websites{
	text-align: center;
}

.websites li{
	margin:20px;
	display:inline-block;

}
.websites a:hover img{
	box-shadow: black .2em .2em .2em;
	opacity: 1.0;
}
.main{
	margin-top:17%;
	margin-left:28%;
	margin-right:28%;
	font-family: "Licida Sans Unicode", sans-serif;
	text-align: center;
	letter-spacing: .1em;
}

#headerlinks li {
	display: inline-block;
	font-size: 1.1em;
	font-family: "Licida Sans Unicode", sans-serif;
	letter-spacing: .2em;
}
#headerlinks a{
	color:black;
	text-decoration: none;
}
#nav1{
	position:absolute;
	left:15%;
	top:11%;
}
#nav2{
	position:absolute;
	left:45%;
	top:11%;
}
#nav3{
	position:absolute;
	right:15%;
	top:11%;
}

v-line1 {
	position: absolute;
	top:17.5%;
	left:14.5%;
	border-left: solid #484848;
	height:60px;
	width:20px;
}
#link1 a{
	position:absolute;
	top:26%;
	left:15%;
	text-decoration: none;
	color:black;
}
#v-line2 {
	border-left: dotted thin #484848;
	height:70px;
	width:20px;
	position:absolute;
	top:16%;
	right:50%;	
}
#link2 a{
	position:absolute;
	top:26%;
	right:49%;
	text-decoration: none;
	color:black;
}
v-line3 {
	border-left: solid #484848;
	height:60px;
	width:20px;
	position: absolute;
	top:17.5%;
	right:22.7%;
}
#link3 a{
	position:absolute;
	top:26%;
	right:15%;
	text-decoration: none;
	color:black;
}

#v-line-horizontal{
	border-top: dotted thin #484848;
	border-left: dotted thin #484848;
	border-right: dotted thin #484848;
	height:8%;
	width:60.8%;
	position: absolute;
	top:17.5%;
	right:20%;
}

#v-line5{
	border-left: dotted thin #484848;
	height:8%;
	width:20px;
	position: absolute;
	top:17.5%;
	right:35%;
}

#link5 a{
	position:absolute;
	top:26%;
	right:33.5%;
	text-decoration: none;
	color:black;
}


#v-line6{ 
	border-left: dotted thin #484848;
	height:8%;
	width:20px;
	position: absolute;
	top:17.5%;
	left:33.5%;
}

#link6 a{
	position:absolute;
	top:26%;
	left:30.5%;
	text-decoration: none;
	color:black;
}
#service-line1{
	border-right: dotted thin #484848;
	height:70px;
	width:80px;
	position: absolute;
	top:16%;
	right:20%;
}
#service-line2{
	border-left: dotted thin #484848;
	border-top: dotted thin #484848;
	height:60px;
	width:150px;
	position: absolute;
	top:17.5%;
	right:20%;
}
#service-nav1 {
	position: absolute;
	top:26%;
	right:17%;
	text-decoration: none;
	color:black;
}
#service-nav2 {
	position: absolute;
	top:26%;
	right:30%;
	text-decoration: none;
	color:black;
}


!#outer-box {
	border:solid thin gray;
	height:700px;
	margin:150px 20px 0px 30px;
	background-image: url('/static/DraftingTable.jpg');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	
}
.pics{
	margin:15% 10% 10% 10%;
	
	
}
.pics img{
	height:150px;
	padding:10px;
	background-color: #E9E5E5;
	border:solid thin gray;
	border-radius:5px;
}

.pics li{
	display: inline-block;
	margin-left: 15%;

}

.a{
	width:200px;
	display:inline-block;
	margin-top: 5%;
	margin-bottom: 5%;
}

.a li:hover{
	box-shadow: .2em .2em .2em .1em;
	color:gray;
}







	