$def with (header, footer)
$:header
	<div id='v-line1'></div>
	<div id='v-line2'></div>
	<div id='v-line3'></div>
	<div id='v-line-horizontal'></div>
	<div id='v-line5'></div>
	<div id='v-line6'></div>
	<div id='link1'><a style="color:red" href="/pics?action=concept-art">Concept Art</a></div>
	<div id='link2'><a href="/pics?action=illustration">Illustration</a></div>
	<div id='link3'><a href="/pics?action=whiteboard">Whiteboard Animation</a></div>
	<div id='link5'><a href="/pics?action=video">Video Editing</a></div>
	<div id='link6'><a href="/pics?action=websites">Web Design</a></div>
	<ul class='pics'>		
		<div class='a'><li><a href="/static/concept/alienguy.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/alienguy.jpg"></a></li></div>
		<div class='a'><li><a href="/static/concept/Bandit_Concept1.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/Bandit_Concept1.jpg"></a></li></div>
		<div class='a'><li><a href="/static/concept/CaveFamily.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/CaveFamily.jpg"></a></li></div>
		<div class='a'><li><a href="/static/concept/Goblins.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/Goblins.jpg"></a></li></div>
		<div class='a'><li><a href="/static/concept/jonaandgina.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/jonaandgina.jpg"></a></li></div>
		<div class='a'><li><a href="/static/concept/king-spider-small.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/king-spider-small.jpg"></a></li></div>
		<div class='a'><li><a href="/static/concept/Lions.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/Lions.jpg"></a></li></div>
		<div class='a'><li><a href="/static/concept/littlegirl.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/littlegirl.jpg"></a></li></div>
		<div class='a'><li><a href="/static/concept/Rat.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/Rat.jpg"></a></li></div>
		<div class='a'><li><a href="/static/concept/Scientist_Monkeys.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/Scientist_Monkeys.jpg"></a></li></div>
		<div class='a'><li><a href="/static/concept/Spirit_1.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/Spirit_1.jpg"></a></li></div>
		<div class='a'><li><a href="/static/concept/Spirit_3.jpg" data-lightbox="concept"><img src="static/concept/Thumbnails/Spirit_3.jpg"></a></li></div>		
	</ul>
$:footer