$def with (header, footer)
$:header
	<div id='v-line1'></div>
	<div id='v-line2'></div>
	<div id='v-line3'></div>
	<div id='v-line4'></div>
	<div id='v-line5'></div>
	<div id='v-line6'></div>
	<div id='link1'><a style='color:red' href="/pics?action=concept-art">Concept Art</a></div>
	<div id='link2'><a href="/pics">Illustration</a></div>
	<div id='link3'><a href="">Whiteboard Animation</a></div>
	<div id='link4'><a href="">Video Editing</a></div>
	<div id='link5'><a href="">Web Design</a></div>
	<ul class='pics'>
		<div class='a'><li><img src="static/Lions.jpg"></li></div>
		<div class='a'><li><img src="static/2_1.jpg"></li></div>
		<div class='a'><li><img src="static/4_1.jpg"></li></div>
		<div class='a'><li><img src="static/Bandit_Concept1.jpg"></li></div>
		<div class='a'><li><img src="static/CARPENTER.jpg"></li></div>
		<div class='a'><li><img src="static/CaveFamily.jpg"></li></div>
		<div class='a'><li><img src="static/COUCH_POTATO.jpg"></li></div>
		<div class='a'><li><img src="static/FOODVENDER.jpg"></li></div>
		<div class='a'><li><img src="static/METAMORPH.jpg"></li></div>
		<div class='a'><li><img src="static/ScienceLab.jpg"></li></div>
		<div class='a'><li><img src="static/SEAMSTRESS.jpg"></li></div>
		<div class='a'><li><img src="static/Security_Guard.jpg"></li></div>
		<div class='a'><li><img src="static/silas_Small.jpg"></li></div>
		<div class='a'><li><img src="static/STARVING_PERSON.jpg"></li></div>
		<div class='a'><li><img src="static/DraftingTable.jpg"></li></div>
	</ul>
$:footer