<html>
	<head>
		<title>JonnyHartDesign</title>
		<link rel="stylesheet" type="text/css" href="/static/jonnyhart.css">
	</head>
	<body>
	<div id='headerspace'>
		<a style='text-decoration:none' href="/"><h1><span style='color:#484848'>JONNYHART</span><span style='color:red'>DESIGN</span></h1></a>
	</div>
	<div id='headerlinks'>
		<ul>
			<li><a href="/about">About JHD</a></li>
			<li><a href="/pics">Portfolio</a></li>
			<li><a href="/services">Services</a></li>
		</ul>
	</div>
	
	<div id='outer-box'>

