<html>
	<head>
		<title>JonnyHartDesign</title>
		<script src="static/js/jquery-1.10.2.min.js"></script>
		<script src="static/js/lightbox-2.6.min.js"></script>
		<link href="static/css/lightbox.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="static/jonnyhart.css">
		
		
	</head>
	<body>
	<div id='headerspace'>
		<a style='text-decoration:none' href="/"><h1><span style='color:#484848'>JONNYHART</span><span style='color:red'>DESIGN</span></h1></a>
	</div>
	<div id='headerlinks'>
		<ul>
			<li id='nav1'><a href="/about">About JHD</a></li>
			<li id='nav2'><a href="/pics">Portfolio</a></li>
			<li id='nav3'><a href="/services">Services</a></li>
		</ul>
	</div>
	
	<div id='outer-box'>

