$def with (header, footer)
$:header
	<div id='v-line1'></div>
	<div id='v-line2'></div>
	<div id='v-line3'></div>
	<div id='v-line-horizontal'></div>
	<div id='v-line5'></div>
	<div id='v-line6'></div>
	<div id='link1'><a href="/pics?action=concept-art">Concept Art</a></div>
	<div id='link2'><a style='color:red' href="/pics?action=illustration">Illustration</a></div>
	<div id='link3'><a href="/pics?action=whiteboard">Whiteboard Animation</a></div>
	<div id='link5'><a href="/pics?action=video">Video Editing</a></div>
	<div id='link6'><a href="/pics?action=websites">Web Design</a></div>
	
	<ul class='pics'>
		<div class='a'><li><a href="/static/illustration/Pistol3.jpg" data-lightbox="illustration"><img src="static/illustration/thumbnails/Pistol3.jpg"></a></li></div>
		<div class='a'><li><a href="static/illustration/water_pistol.jpg" data-lightbox="illustration"><img src="static/illustration/thumbnails/water_pistol.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/F1Racer.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/F1Racer.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/hummer.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/hummer.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/Pony.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/Pony.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/car_1.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/car_1.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/SpacialBoundarylight.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/SpacialBoundarylight.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/ArtisticDesignposter.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/ArtisticDesignposter.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/TED2.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/TED_2.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/2_1.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/2_1.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/4_1.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/4_1.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/CARPENTER.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/CARPENTER.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/COUCH_POTATO.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/COUCH_POTATO.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/FOODVENDER.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/FOODVENDER.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/METAMORPH.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/METAMORPH.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/SantaCard_copy.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/SantaCard_copy.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/ScienceLab.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/ScienceLab.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/SEAMSTRESS.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/SEAMSTRESS.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/Security_Guard.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/Security_Guard.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/silas_Small.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/silas_Small.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/STARVING_PERSON.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/STARVING_PERSON.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/TED_1.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/TED_1.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/TED_3.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/TED_3.jpg"></a></li></div>
		<div class='a'><li><a href='static/illustration/TED_4.jpg' data-lightbox="illustration"><img src="static/illustration/thumbnails/TED_4.jpg"></a></li></div>
		
		</ul>
$:footer