$def with (header, footer)
$:header
	<div id='v-line1'></div>
	<div id='v-line2'></div>
	<div id='v-line3'></div>
	<div id='v-line-horizontal'></div>
	<div id='v-line5'></div>
	<div id='v-line6'></div>
	<div id='link1'><a href="/pics?action=concept-art">Concept Art</a></div>
	<div id='link2'><a style='color:red' href="/pics?action=illustration">Illustration</a></div>
	<div id='link3'><a href="/pics?action=whiteboard">Whiteboard Animation</a></div>
	<div id='link5'><a href="/pics?action=video">Video Editing</a></div>
	<div id='link6'><a href="/pics?action=websites">Web Design</a></div>
	
	<ul class='pics'>
		<div class='a'><li><a href="/static/img/alienguy.jpg" data-lightbox="illustration"><img src="static/img/alienguy_thumb.jpg"></a></li></div>
		<div class='a'><li><a href="static/img/jonaandgina.jpg" data-lightbox="illustration"><img src="static/img/jonaandgina_thumb.jpg"></a></li></div>
		<div class='a'><li><a href='static/img/Scientist_Monkeys.jpg' data-lightbox="illustration"><img src="static/img/Scientist_Monkeys_thumb.jpg"></a></li></div>
		<div class='a'><li><a href='static/img/SantaCard_copy.jpg' data-lightbox="illustration"><img src="static/img/SantaCard_copy_thumb.jpg"></a></li></div>
		<div class='a'><li><a href='static/img/Goblins.jpg' data-lightbox="illustration"><img src="static/img/Goblins_thumb.jpg"></a></li></div>
		<div class='a'><li><a href='static/img/Lions.jpg' data-lightbox="illustration"><img src="static/img/Lions_thumb.jpg"></a></li></div>
		<div class='a'><li><a href='static/img/king-spider-small.jpg' data-lightbox="illustration"><img src="static/img/king_spider_small_thumb.jpg"></a></li></div>
		<div class='a'><li><a href='static/img/Spirit_1.jpg' data-lightbox="illustration"><img src="static/img/Spirit_1_thumb.jpg"></a></li></div>
		<div class='a'><li><a href='static/img/Spirit_3.jpg' data-lightbox="illustration"><img src="static/img/Spirit_3_thumb.jpg"></a></li></div>
		<div class='a'><li><a href='static/img/TED_1.jpg' data-lightbox="illustration"><img src="static/img/TED_1_thumb.jpg"></a></li></div>
		<div class='a'><li><a href='static/img/TED_3.jpg' data-lightbox="illustration"><img src="static/img/TED_3_thumb.jpg"></a></li></div>
		<div class='a'><li><a href='static/img/TED_4.jpg' data-lightbox="illustration"><img src="static/img/TED_4_thumb.jpg"></a></li></div>
		<div class='a'><li><a href='static/img/TED_2.jpg' data-lightbox="illustration"><img src="static/img/TED_2_thumb.jpg"></a></li></div>
	</ul>
$:footer