$def with (header, footer)
$:header
	<div id='v-line1'></div>
	<div id='v-line2'></div>
	<div id='v-line3'></div>
	<div id='v-line4'></div>
	<div id='v-line5'></div>
	<div id='v-line6'></div>
	<div id='link1'><a href="/pics?action=concept-art">Concept Art</a></div>
	<div id='link2'><a style='color:red' href="/pics?action=illustration">Illustration</a></div>
	<div id='link3'><a href="">Whiteboard Animation</a></div>
	<div id='link4'><a href="">Video Editing</a></div>
	<div id='link5'><a href="">Web Design</a></div>
	
	<ul class='pics'>
		<div class='a'><li><img src="static/alienguy.jpg"></li></div>
		<div class='a'><li><img src="static/jonaandgina.jpg"></li></div>
		<div class='a'><li><img src="static/Scientist_Monkeys.jpg"></li></div>
		<div class='a'><li><img src="static/SantaCard_copy.jpg"></li></div>
		<div class='a'><li><img src="static/Goblins.jpg"></li></div>
		<div class='a'><li><img src="static/Lions.jpg"></li></div>
		<div class='a'><li><img src="static/king-spider-small.jpg"></li></div>
		<div class='a'><li><img src="static/Spirit_1.jpg"></li></div>
		<div class='a'><li><img src="static/Spirit_3.jpg"></li></div>
		<div class='a'><li><img src="static/TED_1.jpg"></li></div>
		<div class='a'><li><img src="static/TED_2.jpg"></li></div>
		<div class='a'><li><img src="static/TED_3.jpg"></li></div>
		<div class='a'><li><img src="static/TED_4.jpg"></li></div>
	</ul>
$:footer