$def with (header, footer)
$:header
	<div id='v-line1'></div>
	<div id='v-line2'></div>
	<div id='v-line3'></div>
	<div id='v-line-horizontal'></div>
	<div id='v-line5'></div>
	<div id='v-line6'></div>
	<div id='link1'><a href="/pics?action=concept-art">Concept Art</a></div>
	<div id='link2'><a href="/pics?action=illustration">Illustration</a></div>
	<div id='link3'><a href="/pics?action=whiteboard">Whiteboard Animation</a></div>
	<div id='link5'><a href="/pics?action=video">Video Editing</a></div>
	<div id='link6'><a style = "color:red" href="/pics?action=websites">Web Design</a></div>
	<p class = 'main'>Jackson Dockery is a freelance web designer specializing in building websites with Python. More of our websites coming soon!</p>
	<ul class='websites'>
		<li><a href="https://trupoint.herokuapp.com" target="blank"><img src="/static/img/tp.png"></a></li>
		<li><a href="http://www.jacksondockery.com" target='blank'><img src="/static/img/jd.png"></a></li>
	</ul> 
$:footer