$def with(header, footer)
$:header
	<div id='v-line1'></div>
	<div id='v-line2'></div>
	<div id='v-line3'></div>
	<div id='v-line-horizontal'></div>
	<div id='v-line5'></div>
	<div id='v-line6'></div>
	<div id='link1'><a href="/pics?action=concept-art">Concept Art</a></div>
	<div id='link2'><a href="/pics?action=illustration">Illustration</a></div>
	<div id='link3'><a style="color:red" href="/pics?action=whiteboard">Whiteboard Animation</a></div>
	<div id='link5'><a href="/pics?action=video">Video Editing</a></div>
	<div id='link6'><a href="/pics?action=websites">Web Design</a></div>
	<p class='main'><br/>My latest Whiteboard projects:<br/><br/></p>
	<iframe width="560" height="315" src="//www.youtube.com/embed/ZTvNeM_FXjc" frameborder="0" allowfullscreen></iframe>
	<iframe width="560" height="315" src="//www.youtube.com/embed/qZPPR1nSuIs" frameborder="0" allowfullscreen></iframe>

$:footer