$def with(header, footer)
$:header
	<div id='v-line1'></div>
	<div id='v-line2'></div>
	<div id='v-line3'></div>
	<div id='v-line-horizontal'></div>
	<div id='v-line5'></div>
	<div id='v-line6'></div>
	<div id='link1'><a href="/pics?action=concept-art">Concept Art</a></div>
	<div id='link2'><a href="/pics?action=illustration">Illustration</a></div>
	<div id='link3'><a style="color:red" href="/pics?action=whiteboard">Whiteboard Animation</a></div>
	<div id='link5'><a href="/pics?action=video">Video Editing</a></div>
	<div id='link6'><a href="/pics?action=websites">Web Design</a></div>
	<p class='main'>Whiteboard content comming soon!<br/>For now, please check out my latest Whiteboard projects:<br/><br/><a href="http://www.youtube.com/watch?v=ZTvNeM_FXjc" target='blank'>Trupoint Marketing</a><br/><br/>
		<a href="http://www.youtube.com/watch?v=qZPPR1nSuIs" target='blank'>New Growth Press</a></p>
$:footer